/* ajout d'un bouton pour un retour à l'acceuil */
/* enlever l'ombre du bloc */
.heading{
    box-shadow: none;
    &__retour-acceuil{
        position: absolute;
        font-size: $size-logo-retour;
        top: 23px;
        left: 30px;
    }
}
