/* ........... pied de page .........*
/* _foot.scss */
.foot{
    background-color: $color-back-foot;
    color: $color-txt-foot;
    padding: 25px;
    padding-bottom: 40px;
    min-width: 300px;
    /* titre oh my food footer */
    &__title{
        font-size: $size-title-foot;
        margin-top: 0px;
        margin-bottom: 15px;
        font-family: 'Shrikhand', cursive;
    }
    /* liens avec un logo */
    &__propo,&__part{
        display: flex;
        align-items: center;
        padding-bottom: 0px;
        padding-top: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
        /* logo */
        i{
            margin: 0px;
            margin-right: 10px;
            font-size: $size-logo-foot;
        }
        /* texte du lien */
        p{
            margin: 0px;
        }
    }
    /* lien partenariat */
    &__part{
        i{
            transform: rotate(-45deg);
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    /* lien mention legal */
    &__leg{
        display: inline-block;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    /* couleur des liens */
    a{
        color: $color-txt-foot;
    }
    /* contact */
    &__mail{
        margin-right: 100px;
    }

}