/* ...... mise en page en-tete acceuil .......*/
/* _header-acceuil.scss */

/* logo en tete */
@import "../utils/variables";
.heading{
    position: relative;
    height: $height-head;
    width: $width-head;
    box-shadow: 2px 2px 3px $shadow-head;
    @include display-center;
    /* image logo ohmyfood */
    &__logo{
        width: $width-logo-head;
        margin-top: 10px;
    }
}
