/* ..... police générale, normalisation lien, div main wrapper ......*/
/* _typographie */

.main-wrapper{
    min-width: $size-main-w-min;
}
a{
    color: black;
    text-decoration: none;
}
*{
    font-family: 'Roboto', sans-serif;
}