.color-heart-color-resto, .color-heart-resto{
    position: absolute;
    font-size: $size-heart * 1.1;
    top: 10px;
    right: 35px;
}
.color-heart-resto{
    z-index: 12;
}
/* ajout couleur du coeur et réglage scale et index */
.color-heart-color-resto{
    z-index: 13;
    background: linear-gradient(120deg,$color-secondary 0%, $color-primary 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(0);
}
/* création d'un bouton invisible placer devant les coeur et qui déclanche l'animation */
.color-heart-btn-resto{
    z-index: 14;
    position: absolute;
    top: 30px;
    right: 25px;
    height: 50px;
    width: 50px;
    &:hover + .color-heart-color-resto
    {
        animation: heart both 200ms ease-in-out;
    }
}