/* .......... informations placer sous le logo de tete & explications utilisation site ............... */

/* localisation / titre / phrase / bouton */
/* _description-head */

/* ..... bloc qui contient la section information ...... */
.description{
    height: $height-descrip;
    /* bloc avec la localisation */
    &__loc{
        width: 100%;
        height: 50px;
        background-color: $color-back;
        font-size: $size-txt-loc;
        color: lighten(black, 25%);
        @include display-center;
        /* logo localisation */
        i{
            margin: 0px 20px;
            margin-bottom: 5px;
            font-size: $size-logo-loc;
        }
        /* nom de la ville, localisation */
        &-city{
            margin-right: 10%;
        }
    }
    /* ...... bloc haut avec le titre, la phrase et le bouton ....... */
    &__company{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: lighten($color-back, 4%);
        height: $size-height-compa;
        /* titre */
        &-title{
            width: 65%;
            text-align: center;
            font-size: $size-title;
            font-weight: 600;
            margin-top: 30px;
            margin-bottom: 0px;
        }
        /* phrase sous le titre */
        &-sentance{
            width: 85%;
            font-size: $size-sentance-comp;
            text-align: center;
            margin-top: 0px;
            margin-bottom: 30px;
            color: lighten(black, 45%);
        }
        /* boutons pour aller voir les restaurants */
        &-resto{
            width: 55%;
            height: 50px;
            margin-top: 0px;
            margin-bottom: 50px;
            border-radius: 50px;
            color: $color-txt-explor;
            max-width: $max-width-btn;
            min-width: $min-width-btn;
            @include color-btn;
            @include display-center;
            box-shadow: lighten($shadow-head, 5%) 5px 5px 10px;
            &:hover{
                opacity: 0.9;
                box-shadow: darken($shadow-head, 10%) 5px 5px 10px;
            }
        }
    }
    /* ...... Explication sur l'utilisation du site ....... */
    &__function{
        padding-bottom: 45px;
        margin: 20px;
        /* titre de la section */
        &-title{
            font-size: $size-title;
            margin-top: 50px;
            margin-bottom: 10px;
        }
        /* ....... bloc contenant les 3 etapes de l'explication .......... */
        @include creat-selec(3){
            display: flex;
            align-items: center;
            margin-left: 10px;
            margin-top: 25px;
            height: $height-expl;
            border-radius: 25px;
            background-color: lighten($color-back, 4%);
            box-shadow: 4px 4px 15px lighten($shadow-head, 10%);
            /* leger changement de couleur, passage souris */
            &:hover{
                transition: 200ms ease-in-out;
                background-color: lighten($color-primary, 36%);
                i{
                    color: $color-primary;
                }
            }
            /* chiffre dans le bloc d'explication */
            &number{
                @include display-center;
                position: absolute;
                left: 20px;
                color: white;
                background-color: $color-primary;
                border-radius: 15px;
                width: $size-num-expl;
                height: $size-num-expl;
            }
            /* logo dans le bloc d'explication */
            i{
                font-size: $size-logo-fonc;
                margin-left: 45px;
                margin-right: 30px;
                color: lighten(black, 50%);
            }
            /* texte dans le bloc d'explication */
            &txt{
                color: lighten(black, 20%);
                font-weight: bold;
            }
        }
    }
}

