/* ............. animation keyframes .............. */
/* _keyframes.scss */
@keyframes apparition {
    0%{
        transform: translateY(30px);
        opacity: 0;
    }
    80%{
        opacity: 1;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes check {
    0%{
        width: 0px;
        transform: scaleY(.6);
    }
    40%{
        transform: scaleY(1);
    }
    100%{
        width: 80px;
    }
}
@keyframes check-rotate{
    0%{
        transform: translateX(0px) scaleX(0) rotate(180deg);
    }
    100%{
        transform: translateX(-20px) scaleX(1) rotate(0deg);
    }
}
/* grossisement du coeur */
@keyframes heart {
    0%{
        top: 0px;
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes heart-resto {
    0%{
        transform: translateY(0px) scale(0);
    }
    100%{
        transform: translateY(0px) scale(1);
    }
}
/* animation pour le plateau en bois */
@keyframes circle {
    0%{
        transform: translateX(0px) scaleY(1) rotate(0deg);
    }
    15%{
        transform: scaleY(1) rotate(0deg);
    }
    50%{
        transform: translateX(500px) scaleY(0.2) rotate(180deg);
    }
    60%{
        transform: translateX(500px) scaleY(0.2) rotate(180deg);
    }
    100%{
        transform: translateX(0px) scaleY(1) rotate(360deg);
    }
}
/* animation pour l'assiette */
@keyframes circle-2 {
    0%{
        transform: translateX(-400px) scaleY(0.2);
    }
    15%{
        transform: translateX(-400px) scaleY(0.2) rotate(180deg);
    }
    40%{
        transform: translateX(0px) scaleY(1);
    }
    60%{
        transform: translateX(0px) scaleY(1);
    }
    100%{
        transform: scaleY(1) rotate(0deg);
    }
}
/* animation apparition ohmyfood */
@keyframes food-name {
    0%{
        opacity: 0;
    }
    15%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}
/* disparition de l'animation */
@keyframes gone {
    0%{
        opacity: 1;
    }
    75%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        z-index: 0;
        transform: scale(0);
    }
}