// ................... couleur de base
$color-primary: #9556DC; 
$color-secondary: #FF79DA;
$color-three: #99E2D0;  

// ............... couleur animation
// fond
$color-anim: white;
// assiette
$color-circle-2: white;
$color-circle-3: white;

// ................ div main-wrapper
// taille 
$size-main-w-min: 300px;

// .................... div  header ohmyfood logo
// ........ couleur
$shadow-head: rgb(200, 199, 199);
// ....... taille
$width-head: 100%;
$height-head: 65px;
$width-logo-head: 160px;

// ...................... div aside description , explixation, localisation 
// .......... couleur
$color-back: #efebeb;
$color-txt-explor: white;
// ........ tailles
// localisation 
$size-logo-loc: 17px;
$size-txt-loc: 11px;
// compagny presentation
$size-height-compa: 290px;
$size-title: 25px;
$size-sentance-comp: 18px;
$size-height-descrip: 1000px;
$max-width-btn: 350px;
$min-width-btn: 250px;
$height-btn: 60px;
// explication fonctionement 
$size-logo-fonc: 18px;
$height-expl: 70px;
$height-expl-tab: 200px;
$size-expl-txt: 18px;
$size-num-expl: 25px;

// ........................ div main resto 
// ....... couleur
$color-block-resto: white;
// ........ taille
$size-title-two: 20px;
$width-block-resto: 100%;
$width-title-bloc-resto: 90%; 
$Max-width-title-bloc-resto-tab: 700px;
$Max-width-title-bloc-resto-desk: 90%;
// bloc contenant un restaurant
$width-resto: 90%;
$max-width-tab-resto: 700px;
$max-width-desk-resto: 450px;
$height-resto: 290px;
$width-img-resto: 100%;
$height-img-resto: 180px;
$width-nom-resto: 150px;
$size-txt-lieu-resto: 18px;
$size-heart: 25px;

// ....................... div footer lien 
//couleur
$color-back-foot: #303030;
$color-txt-foot: white;
//taille
$size-title-foot: 19px;
$size-logo-foot: 15px;
$max-width-foot: 1000px;

